@use 'base/variables' as v;
@use 'base/mixins' as m;

.spaced{
    letter-spacing: .2rem;
}

.contacto{
    padding-top: 5rem;
    h2 {
        text-align: center;
        margin-bottom: 5rem
    }
}


.contenido-contacto {
    @include m.tablet {
        @include m.grid(2, 5rem);
    }
    margin-bottom: 5rem;

    .form-group{
        margin-bottom: 1rem;
    }

    .row{

        @include m.tablet {
            @include m.grid(2, 5rem);
        }
        margin-bottom: 5rem;
    
        .form-group{
            margin-bottom: 1rem;
        }
    }
}

.form-control{
    padding: 2rem 1rem;
    width: 100%;
}

.border-bottom-c{
    border: 0;
    border-bottom: 1px;
    border-style: solid;
}

.btn-black{
    margin-top: 2rem;
    color: v.$blanco;
    background-color: v.$negro;
    border: 1px solid transparent;
    padding: 1rem 2rem;
    cursor: pointer;
    width: 100%;
    display: block;
    text-align: center;
}

.derecha{
    text-align: center;
    
    h3{
        margin: 0;
        margin-top: 2rem;
    }
    
    p{font-size: 1.5rem;
    }

    ul{
        list-style: none;
        margin-left: 0;
        padding-left: 0;
    }
    a{
        color: black;
    }
}

.whatsapp{
 img{
     display: block;
     margin-top: 2rem;
     margin-left: auto;
     margin-right: auto;
     height: 50px;
     width: 50px;
 }
}